body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 20px 0;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
#buttonSearch {
  position: absolute;
  top: 4.5px;
  right: 0px;
}
.radioFilter {
  margin-left: 20px;
  margin-bottom: 20px;
}
h4 {
  display: block;
  width: 100%;
  float: left;
}
